
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE html>
<html lang="en">
<head>
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
</head>
<body>
<title>意大利诺莱斯克艺术涂料官网-艺术涂料十大品牌加盟-环保艺术漆厂家招商代理_诺莱斯克艺术涂料</title>
<meta name="Keywords" content="诺莱斯克,艺术涂料品牌,艺术涂料十大品牌,艺术涂料进口品牌,意大利艺术涂料,艺术漆品牌,艺术涂料开店,艺术涂料加盟,艺术涂料厂家,艺术涂料代理" />
<meta name="Description" content="(意大利艺术涂料十大品牌厂家)诺莱斯克ROSEMERK高端艺术涂料品牌,全球领先的艺术涂料生产、研发公司,高端环保艺术涂料加盟厂家艺术壁材品牌就选诺莱斯克,服务热线：400-8788085。" />
<meta name="baidu-site-verification" content="code-ghX1Hhd2FS" />
<meta name="sogou_site_verification" content="485Gm1sSBT"/>
<link rel="stylesheet" type="text/css" href="css/animate.min.css">
<link rel="stylesheet" type="text/css" href="css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css?v20200911v1">
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="js/swiper.min.js"></script>


<!-- 网站公共头部区域 -->
<div class="logo_tel">
	<div class="wrap">
		<h1>
			<a href="index.php" title="">
				<img src="images/logo.png" alt="诺莱斯克艺术涂料官方网站">
			</a>
		</h1>
		<div class="tel">
			<span>400-8788085</span>
		</div>
	</div>
</div>
<div class="p_nav">
	<div class="wrap">
		<ul >
			<li style="width:400px">
				<a href="guanindex.html" title="">
					<em>Home</em>
					<span>首  页</span>
				</a>
			</li>
			
							<!-- <li class="">
					<a href="list.php?typeid=1" title="诺莱斯克中国">
						<em>About Us</em>
						<span>诺莱斯克中国</span>
					</a>
						<div class="drop">
													<a href='list.php?typeid=2'>品牌 Brand</a>
													<a href='list.php?typeid=3'>形象 Image</a>
													<a href='list.php?typeid=4'>品质 Quality</a>
											</div>
				</li>-->
							 <li style="width:400px">
					<a href="productDisplay.html" title="产品空间">
						<em>Product display</em>
						<span>产品展示</span>
					</a>
						<!--<div class="drop">
													<a href='list.php?typeid=20'>经典案例 Case</a>
													<a href='list.php?typeid=34'>产品展示 Product display</a>
											</div>-->
				</li>
				
							<!-- <li >
					<a href="list.php?typeid=6" title="设计灵感">
						<em>Design</em>
						<span>设计灵感</span>
					</a>
						<div class="drop">
													<a href='list.php?typeid=7'>色彩之声 Sound of Color</a>
													<a href='list.php?typeid=8'>色彩体系 Color system</a>
											</div>
				</li>-->
							 <li style="width:400px">
					<a href="joinIn.html" title="招商加盟">
						<em>Join In</em>
						<span>招商加盟</span>
					</a>
						<!--<div class="drop">
													<a href='list.php?typeid=10'>行业趋势 Trend</a>
													<a href='list.php?typeid=11'>品牌优势 Advantage</a>
													<a href='list.php?typeid=12'>加盟支持 Support</a>
											</div>-->
				</li>
							 <!--<li >
					<a href="list.php?typeid=13" title="新闻中心">
						<em>News</em>
						<span>新闻中心</span>
					</a>
						<div class="drop">
													<a href='list.php?typeid=14'>品牌资讯 News</a>
													<a href='list.php?typeid=15'>艺术风向 Artistic Trend</a>
													<a href='list.php?typeid=16'>涂装工艺 Process</a>
											</div>
				</li>-->
							 <!--<li >
					<a href="list.php?typeid=17" title="加入诺莱斯克">
						<em>Join</em>
						<span>加入诺莱斯克</span>
					</a>
						<div class="drop">
													<a href='list.php?typeid=18'>诺莱斯克招聘 Recruit</a>
													<a href='list.php?typeid=36'>联系我们 Contact</a>
											</div>
				</li>-->
							 <!--<li >
					<a href="list.php?typeid=19" title="城市合伙人">
						<em>City partner</em>
						<span>城市合伙人</span>
					</a>
						<div class="drop">
											</div>
				</li>-->
						
		</ul>
	</div>
</div>
<!-- 网站公共头部区域 END -->
<script type="text/javascript">
$(function(){
	$('.p_nav li').hover(function(){
		$(this).find(".drop").stop().slideDown();
	},function(){
		$(this).find(".drop").stop().slideUp();
	})
})
</script><!-- 首页banner -->
<link rel="stylesheet" type="text/css" href="css/flexslider.css" />
<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
<div class="i-banner">
	<div class="flexslider">
		<ul class="slides">
		    				  <li style="background: url(uploads/allimg/20210825/1629856200.jpg) center center no-repeat;"></li>
							  <li style="background: url(uploads/allimg/20200909/1599621164.jpg) center center no-repeat;"></li>
							  <li style="background: url(uploads/allimg/20200908/1599545796.jpg) center center no-repeat;"></li>
							  <li style="background: url(uploads/allimg/20200904/1599195423.jpg) center center no-repeat;"></li>
							  <li style="background: url(uploads/allimg/20210825/1629857394.jpg) center center no-repeat;"></li>
					</ul>
	</div>
</div>
<script type="text/javascript">
$(function() {
    $(".flexslider").flexslider({
		slideshowSpeed: 3000, //展示时间间隔ms
		animationSpeed: 400, //滚动时间ms
		touch: true, //是否支持触屏滑动
		animation: 'slide',
		autoPage:true
	});
});	
</script>
<!-- 首页banner -->

<!-- 2009 -->
<div class="i-2009">
	<div class="wrap">
		<div class="box">
			<h2>since 2009 year</h2>
			<h6>引进中国10余年砥砺前行</h6>
			<p class="cn">诺莱斯克品牌源自于艺术气息浓厚的意大利，在意大利拥有百年历史。2009年开拓全球市场进军中国，并在意大利、中国共同设立研发和制造中心。在中国艺术涂料行业历经数十年，稳步发展......</p>
			<p class="en">Rosemerk brand originated from Italy with strong artistic atmosphere and has a history of 100 years in Italy. In 2009, the company expanded the global market and entered China, and jointly established R & D and manufacturing centers in Italy and China. In China, the art coating industry has experienced decades of steady development......</p>
			<a href="list.php?typeid=1" class="i_s_more">了解更多</a>
		</div>
	</div>
</div>
<!-- 2009 END -->

<!-- 产品 -->
<div class="i-cp">
	<div class="wrap">
		<div class="c_tit">
			<img src="images/logo-icon.png" alt="">
			<span>诺莱斯克产品&nbsp;&nbsp;|&nbsp;&nbsp;</span>
			<b>每一面墙皆为艺术</b>
		</div>
		<div class="c_list">
			<ul>
			    <li>
					<a class="pic" href="list.php?typeid=33">
						<img src="images/i-cp-pic01.jpg" alt="">
					</a>
					<a href="list.php?typeid=33" class="tit" title="">封闭渗透底漆</a>
				</li>
				<li>
					<a class="pic" href="list.php?typeid=32">
						<img src="images/i-cp-pic02.jpg" alt="">
					</a>
					<a href="list.php?typeid=32" class="tit" title="">艺术涂料专用底涂</a>
				</li>
				<li>
					<a class="pic" href="list.php?typeid=24">
						<img src="images/i-cp-pic03.jpg" alt="">
					</a>
					<a href="list.php?typeid=24" class="tit" title="">艺术涂料专用中涂</a>
				</li>
				<li>
					<a class="pic" href="list.php?typeid=23">
						<img src="images/i-cp-pic04.jpg" alt="">
					</a>
					<a href="list.php?typeid=23" class="tit" title="">艺术涂料专用面涂</a>
				</li>
				
			</ul>
		</div>
		<div class="more_box">
			<a href="list.php?typeid=34" class="i_s_more">更多产品</a>
		</div>
	</div>
</div>
<!-- 产品 END -->

<!-- 品质 -->
<div class="i-pz">
	<div class="wrap">
		<div class="p_tit">
			<h3>品质保证<span>Quality assurance</span></h3>
			<p>诺莱斯克艺术涂料拥有多国权威认证背书</p>
		</div>
		<div class="p_more">
			<a href="list.php?typeid=4" class="i_s_more">了解更多</a>
		</div>
	</div>
</div>
<!-- 品质 END -->

<!-- 性能 -->
<div class="i-xn">
	<div class="wrap">
		<div class="x_box">
			<h3>兼顾颜值与性能</h3>
			<p>依据国际色彩趋势，结合中国人的用色喜好<br/>
由诺莱斯克专家精心挑选和设计<br/>
为客户和设计师提供更为丰富和科学<br/>
的色彩选择...</p>
			<a href="list.php?typeid=7" class="i_s_more">了解更多</a>
		</div>
	</div>
</div>
<!-- 性能 END -->

<!-- 经典案例 -->
<div class="i-case">
	<div class="wrap">
		<div class="p_left">
			<ul class="box"> 
				<li class="itm" style="width: 290px;height: 418px;">
					<div class="pic">
						<img src="images/i-case-pic01.jpg">
					</div>
					<div class="info transition">
						<a href="" title="">
							<em>GRAND HYATT</em>
							<span>君悦酒店</span>
						</a>
					</div>	
				</li>
				<li class="itm" style="width: 472px;height: 418px;">
					<div class="pic">
						<img src="images/i-case-pic02.jpg">
					</div>
					<div class="info transition">
						<a href="" title="">
							<em>INTERCONTINENTAL</em>
							<span>北辰洲际酒店</span>
						</a>
					</div>	
				</li>
				<li class="itm" style="width: 400px;height: 237px;">
					<div class="pic">
						<img src="images/i-case-pic03.jpg">
					</div>
					<div class="info transition">
						<a href="" title="">
							<em>Blue Coast</em>
							<span>蔚蓝海岸</span>
						</a>
					</div>	
				</li>
				<li class="itm" style="width: 363px;height: 237px;">
					<div class="pic">
						<img src="images/i-case-pic04.jpg">
					</div>
					<div class="info transition">
						<a href="" title="">
							<em>EXOTIC</em>
							<span>异国风情酒店</span>
						</a>
					</div>	
				</li>
			</ul>
		</div>
		<div class="p_right">
			<ul>
				<li class="itm" style="width: 396px;height: 304px;">
					<div class="pic">
						<img src="images/i-case-pic05.jpg">
					</div>
					<div class="info transition">
						<a href="" title="">
							<em>GRAND HYATT</em>
							<span>君悦酒店</span>
						</a>
					</div>	
				</li>
			</ul>
			<div class="c_tit">
				<div class="boxs">
					<h3>Classic cases</h3>
					<h2>经典案例</h2>
					<p>自成立以来，诺莱斯克传承纯正意大利文化精髓，实现中国人对居家空间的高品位追求，将墙面艺术融入经典案例中。</p>
					<a href="list.php?typeid=20" class="i_s_more">了解更多</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 经典案例 END -->

<!-- 加盟 -->
<div class="i-jm">
	<div class="wrap">
		<div class="boxs">
			<div class="j_tit">
				<img src="images/logo-icon.png" alt="">
				<span>携手诺莱斯克&nbsp;&nbsp;|&nbsp;&nbsp;</span>
				<b>创财富未来</b>
			</div>	
			<div class="j_desc">
				<h3>诚邀加盟</h3>
				<p>选择市场巨大的涂料行业，携手前景无限的实力品牌诺莱斯克，让您赢在财富的起跑线</p>
				<p>全国空白区域经销商，手快有，手慢无</p>
				<a href="list.php?typeid=9" class="i_s_more">了解更多</a>
			</div>		
		</div>
	</div>
</div>
<!-- 加盟 END -->

<!-- 新闻中心 -->
<div class="i-news">
	<div class="wrap">
		<div class="n_tit">
			<h3>新闻中心<span>News Center</span></h3>
			<p>了解诺莱斯克企业动向及更多设计理念，同时品鉴国际时尚潮流</p>
		</div>
		<div class="n_list">
			<ul>
			    					  <li>
						<a href="view.php?id=188" class="pic" title="年会盛典:2021诺莱斯克“向光而生 展....">
							<img src="ueditor/php/upload/image/20220117/1642390636501320.jpg" class="transition" alt="">
						</a>
						<div class="desc">
							<a class="tit ellipsis" href="view.php?id=188">年会盛典:2021诺莱斯克“向光而生 展....</a>
							<p>诺莱斯克年会2022年1月14日，寒冬腊月，迎着寒风出发，一派祥和欢乐气象，诺莱斯克一年一度的&quot;向光而生 展望未来&quot;</p>
						</div>
					</li>
									  <li>
						<a href="view.php?id=187" class="pic" title="诺莱斯克恭祝大家新年快乐，万事如意，阖家....">
							<img src="ueditor/php/upload/image/20211231/1640932930251434.jpg" class="transition" alt="">
						</a>
						<div class="desc">
							<a class="tit ellipsis" href="view.php?id=187">诺莱斯克恭祝大家新年快乐，万事如意，阖家....</a>
							<p>一元复始，万象更新。凯歌辞旧岁，瑞虎迎新春!值此岁序更替、辞旧迎新的美好时刻，诺莱斯克全体员工恭祝大家新年快乐，身体健</p>
						</div>
					</li>
									  <li>
						<a href="view.php?id=186" class="pic" title="诺莱斯克荣获「中国微水泥行业联盟理事单位....">
							<img src="ueditor/php/upload/image/20211231/1640930015110458.jpg" class="transition" alt="">
						</a>
						<div class="desc">
							<a class="tit ellipsis" href="view.php?id=186">诺莱斯克荣获「中国微水泥行业联盟理事单位....</a>
							<p>2021年12月14日，由中国微水泥行业联盟认定，由于诺莱斯克多年来为广大消费者提供优质的产品和服务，对促进中国微水泥行业的</p>
						</div>
					</li>
									  <li>
						<a href="view.php?id=185" class="pic" title="诺莱斯克出席中国微水泥行业联盟成立大会暨....">
							<img src="ueditor/php/upload/image/20211231/1640929845125984.jpg" class="transition" alt="">
						</a>
						<div class="desc">
							<a class="tit ellipsis" href="view.php?id=185">诺莱斯克出席中国微水泥行业联盟成立大会暨....</a>
							<p>近年来，国内微水泥市场需求强劲、技术不断取得新进展、产业资本积极投入、相关部门高度重视，微水泥产业迎来更广阔的发展机</p>
						</div>
					</li>
									  <li>
						<a href="view.php?id=179" class="pic" title="祝贺!诺莱斯克获评艺术涂料十大品牌和设计....">
							<img src="ueditor/php/upload/image/20211122/1637562798138471.jpg" class="transition" alt="">
						</a>
						<div class="desc">
							<a class="tit ellipsis" href="view.php?id=179">祝贺!诺莱斯克获评艺术涂料十大品牌和设计....</a>
							<p>祝贺!诺莱斯克获评艺术涂料十大品牌和设计师十大推荐品牌近日，由全国名牌产业工作委员会(中国产业投资发展协会)联合颁发的“</p>
						</div>
					</li>
									  <li>
						<a href="view.php?id=178" class="pic" title="第19期诺莱斯克ROSEMERK艺术涂料....">
							<img src="ueditor/php/upload/image/20211117/1637133642472531.jpeg" class="transition" alt="">
						</a>
						<div class="desc">
							<a class="tit ellipsis" href="view.php?id=178">第19期诺莱斯克ROSEMERK艺术涂料....</a>
							<p>品牌历史·悠久诺莱斯克ROSEMERK品牌源自于意大利，已有百年历史，于2009年引入中国，在中国生根发芽，创新发展。设</p>
						</div>
					</li>
									  <li>
						<a href="view.php?id=177" class="pic" title="微水泥鉴赏:丽水遂昌新鸿中央首府小区全房....">
							<img src="https://p4.itc.cn/images01/20211105/771b2a9d6bdb4e92800a83dc852bba9b.jpeg" class="transition" alt="">
						</a>
						<div class="desc">
							<a class="tit ellipsis" href="view.php?id=177">微水泥鉴赏:丽水遂昌新鸿中央首府小区全房....</a>
							<p>微水泥简约工业风摒弃了现代风格中丰富亮丽的特点，更加注意装饰整体的实用性、协调性，材质色调上大多会用浅色，凸显出工业</p>
						</div>
					</li>
									  <li>
						<a href="view.php?id=176" class="pic" title="微水泥鉴赏：安庆东尼造型吾悦广场店">
							<img src="ueditor/php/upload/image/20211103/1635904586734982.jpeg" class="transition" alt="">
						</a>
						<div class="desc">
							<a class="tit ellipsis" href="view.php?id=176">微水泥鉴赏：安庆东尼造型吾悦广场店</a>
							<p>简约工业风摒弃了现代风格中丰富亮丽的特点，更加注意装饰整体的实用性、协调性，材质色调上大多会用浅色，凸显出工业质感。</p>
						</div>
					</li>
								
			</ul>
		</div>
		<div class="n_more">
			<a href="list.php?typeid=13" class="i_s_more">了解更多</a>
		</div>
	</div>
</div>
<!-- 新闻中心 END -->

<!-- 网站底部 -->
<div class="ftItmCate">
	<div class="wrap">
		<div class="boxs">
			<dl style="width:440px">
				<dt>Home</dt>
				<dd>
					<a href="guanindex.html" title="网站首页">网站首页</a>
				</dd>
			</dl>
			 
								<!--<dl>
						<dt>About Us</dt>
						<dd>
						    <a href='list.php?typeid=1'>诺莱斯克中国</a>
															<a href='list.php?typeid=2'>品牌</a>
															<a href='list.php?typeid=3'>形象</a>
															<a href='list.php?typeid=4'>品质</a>
													</dd>
					</dl>-->
			    
								<dl style="width:440px">
						<dt>Product display</dt>
						<dd>
						    <a href='productDisplay.html'>产品展示</a>
															<!--<a href='list.php?typeid=20'>经典案例</a>
															<a href='list.php?typeid=34'>产品展示</a>-->
													</dd>
					</dl>
			    
								<!--<dl>
						<dt>Design</dt>
						<dd>
						    <a href='list.php?typeid=6'>设计灵感</a>
															<a href='list.php?typeid=7'>色彩之声</a>
															<a href='list.php?typeid=8'>色彩体系</a>
													</dd>
					</dl>-->
			    
								<dl style="width:440px">
						<dt>Join In</dt>
						<dd>
						    <a href='joinIn.html'>招商加盟</a>
															<!--<a href='list.php?typeid=10'>行业趋势</a>
															<a href='list.php?typeid=11'>品牌优势</a>
															<a href='list.php?typeid=12'>加盟支持</a>-->
													</dd>
					</dl>
			    
								<!--<dl>
						<dt>News</dt>
						<dd>
						    <a href='list.php?typeid=13'>新闻中心</a>
															<a href='list.php?typeid=14'>品牌资讯</a>
															<a href='list.php?typeid=15'>艺术风向</a>
															<a href='list.php?typeid=16'>涂装工艺</a>
													</dd>
					</dl>
			    
								<dl>
						<dt>Join</dt>
						<dd>
						    <a href='list.php?typeid=17'>加入诺莱斯克</a>
															<a href='list.php?typeid=18'>诺莱斯克招聘</a>
															<a href='list.php?typeid=36'>联系我们</a>
													</dd>
					</dl>
			    
								<dl>
						<dt>City partner</dt>
						<dd>
						    <a href='list.php?typeid=19'>城市合伙人</a>
													</dd>
					</dl>-->
			    
						
		</div>
	</div>
</div>
<div class="ftItmInfo">
	<div class="wrap">
		<div class="itmTop">
			<div class="p_left">
				<a class="logo" href="">
					<img src="images/fLogo.png" alt="">
				</a>
				<div class="des">
					<p>广东诺莱斯克涂料科技有限公司     湖南艾美雅装饰材料有限公司</p>
					<p>地址：广东省广州市南沙区丰泽东路</p>
					<p>长沙营销中心：环保科技园长沙总部基地</p>
					<p>全国服务热线：400-8788085   0731-85010686</p>
					<p>官方网址： www.rosemerk.com</p>
				</div>
			</div>
			<div class="p_right">
				<div class="ewm">
					<img src="images/gzh_ewm.jpg" alt="">
					<span>诺莱斯克公众号</span>
				</div>
			</div>
		</div>
		<div class="itmCopyRight">
			<p>版权所有©湖南艾美雅装饰材料有限公司　 <a href="http://beian.miit.gov.cn/" target="_blank" title="">湘ICP备19009374号-1</a>&nbsp;&nbsp;&nbsp;&nbsp;技术支持：<a href="http://www.csqswl.com" target="_blank">诠释网络</a></p>
		</div>
	</div>
</div>
<!-- 网站底部 END -->

<!-- 预约加盟 -->
<!--<div class="p_yy">
	<div class="y_tit">
		<span>预约加盟</span>
		<em>></em>
	</div>
	<div class="y_con">
		<div class="boxs">
			<a class="close">X</a>
			<form action="plugins/gbook.add.php" method="post">
				<div class="cols" style="width: 20%;">
					<span>姓名</span>
					<input type="text" name="guestname" class="ipt_name" placeholder="请输入您的姓名" />
				</div>
				<div class="cols" style="width: 20%;">
					<span>手机号码</span>
					<input type="text" name="phone" class="ipt_phone" placeholder="请输入您的手机号码" />
				</div>
				<div class="cols" style="width: 32%;">
					<span>所在地区</span>
					<input type="text" name="qq" class="ipt_ads" placeholder="请输入您的详细地址" />
				</div>
				<div class="cols" style="width: 20%;">
					<span></span>
					<input type="submit" name="" class="ipt_btn" value="点击预约加盟" />
				</div>
			</form>
		</div>
	</div>
</div>-->
<script type="text/javascript">
$(function(){
	$('.p_yy .y_tit em').click(function(){
		$('.p_yy .y_tit').toggle();
		$('.p_yy .y_con').toggle();
	})
	$('.p_yy .y_con .boxs .close').click(function(){
		$('.p_yy .y_con').toggle();
		$('.p_yy .y_tit').toggle();
	})

	$('.p_yy form .ipt_btn').click(function(){
		var ipt_name = $('.p_yy input.ipt_name').val();
		var ipt_phone = $('.p_yy input.ipt_phone').val();
		var ipt_ads = $('.p_yy input.ipt_ads').val();

		if (ipt_name == '') {
			alert('请输入您的姓名');
			return false;
		}
		
		if (!(/^[\u4e00-\u9fa5]{2,4}$/.test(ipt_name))) {
			alert('姓名请输入2~4个汉字');
			return false;
		}

		if(!(/^1{1}[3456789]{1}\d{9}$/.test(ipt_phone))){
			alert('请输入正确的手机号码');
			return false;
		}

		if (ipt_ads == '') {
			alert('请输入您的详细地址');
			return false;
		}
	})
})
</script>
<!-- 预约加盟 END -->

<!-- 留言 -->
<!--<div class="p_msg">
	<div class="boxs">
		<a href="javascript:;" class="btn_msg" title="留言弹出">
			<img src="images/p_msg_icon01.png" alt="">
			<span>留言</span>
		</a>
		<a href="javascript:;" class="btn_top" title="返回顶部">
			<img src="images/p_msg_icon02.png" alt="">
		</a>
	</div>
</div>-->
<div class="p_msg_con">
	<div class="boxs">
		<form action="plugins/gbook.add.php" method="post">
			<h3>预约加盟</h3>
			<div class="ipt_con">
				<div class="row">
					<span>姓名：</span>
					<input type="text" name="guestname" class="ipt_name" placeholder="请输入您的真实姓名" />
				</div>
				<div class="row">
					<span>电话：</span>
					<input type="text" name="phone" class="ipt_phone" placeholder="请输入您的联系电话" />
				</div>
				<div class="row">
					<span>地址：</span>
					<input type="text" name="qq" class="ipt_ads" placeholder="请输入您的详细地址" />
				</div>
				<div class="row">
					<span>备注：</span>
					<textarea name="content"></textarea>
				</div>
				<div class="row">
					<input type="submit" name="" class="ipt_btn" value="提交" />
				</div>
			</div>
		</form>
		<a href="javascript:;" class="close" title="关闭弹出框">
			<img src="images/p_msg_con_close.png" alt="">
		</a>	
	</div>
</div>
<script type="text/javascript">
$(function(){
	$('.p_msg a.btn_top').click(function(){
		$('html,body').animate({
			scrollTop:0
		}, 600)
	})

	$('.p_msg a.btn_msg').click(function(){
		$('.p_msg_con').toggle();
	});
	$('.p_msg_con .close').click(function(){
		$('.p_msg_con').toggle();
	});

	$('.p_msg_con form .ipt_btn').click(function(){
		var ipt_name = $('.p_msg_con input.ipt_name').val();
		var ipt_phone = $('.p_msg_con input.ipt_phone').val();
		var ipt_ads = $('.p_msg_con input.ipt_ads').val();

		if (ipt_name == '') {
			alert('请输入您的姓名');
			return false;
		}
		
		

		if(!(/^1{1}[3456789]{1}\d{9}$/.test(ipt_phone))){
			alert('请输入正确的手机号码');
			return false;
		}

		if (ipt_ads == '') {
			alert('请输入您的详细地址');
			return false;
		}
	})
})
</script>
<!-- 留言 END -->
</body>
</html>