
<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<title>加盟支持_招商加盟_诺莱斯克艺术涂料</title>
<meta name="Keywords" content="加盟支持" />
<meta name="Description" content="加盟支持" />
<meta name="baidu-site-verification" content="code-ghX1Hhd2FS" />
<meta name="sogou_site_verification" content="485Gm1sSBT"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/animate.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/swiper.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.SuperSlide.2.1.1.js}"></script>
<script type="text/javascript" th:src="@{/js/swiper.min.js}"></script>


<!-- 网站公共头部区域 -->
<div class="logo_tel">
	<div class="wrap">
		<h1>
			<a href="index.php" title="">
				<img src="images/logo.png" alt="诺莱斯克艺术涂料官方网站">
			</a>
		</h1>
		<div class="tel">
			<span>400-8788085</span>
		</div>
	</div>
</div>
<div class="p_nav">
	<div class="wrap">
		<ul >
			<li style="width:400px">
				<a href="guanindex.html" title="">
					<em>Home</em>
					<span>首  页</span>
				</a>
			</li>
			
							<!-- <li class="">
					<a href="list.php?typeid=1" title="诺莱斯克中国">
						<em>About Us</em>
						<span>诺莱斯克中国</span>
					</a>
						<div class="drop">
													<a href='list.php?typeid=2'>品牌 Brand</a>
													<a href='list.php?typeid=3'>形象 Image</a>
													<a href='list.php?typeid=4'>品质 Quality</a>
											</div>
				</li>-->
							 <li style="width:400px">
					<a href="productDisplay.html" title="产品空间">
						<em>Product display</em>
						<span>产品展示</span>
					</a>
						<!--<div class="drop">
													<a href='list.php?typeid=20'>经典案例 Case</a>
													<a href='list.php?typeid=34'>产品展示 Product display</a>
											</div>-->
				</li>
				
							<!-- <li >
					<a href="list.php?typeid=6" title="设计灵感">
						<em>Design</em>
						<span>设计灵感</span>
					</a>
						<div class="drop">
													<a href='list.php?typeid=7'>色彩之声 Sound of Color</a>
													<a href='list.php?typeid=8'>色彩体系 Color system</a>
											</div>
				</li>-->
							 <li style="width:400px">
					<a href="joinIn.html" title="招商加盟">
						<em>Join In</em>
						<span>招商加盟</span>
					</a>
						<!--<div class="drop">
													<a href='list.php?typeid=10'>行业趋势 Trend</a>
													<a href='list.php?typeid=11'>品牌优势 Advantage</a>
													<a href='list.php?typeid=12'>加盟支持 Support</a>
											</div>-->
				</li>
							 <!--<li >
					<a href="list.php?typeid=13" title="新闻中心">
						<em>News</em>
						<span>新闻中心</span>
					</a>
						<div class="drop">
													<a href='list.php?typeid=14'>品牌资讯 News</a>
													<a href='list.php?typeid=15'>艺术风向 Artistic Trend</a>
													<a href='list.php?typeid=16'>涂装工艺 Process</a>
											</div>
				</li>-->
							 <!--<li >
					<a href="list.php?typeid=17" title="加入诺莱斯克">
						<em>Join</em>
						<span>加入诺莱斯克</span>
					</a>
						<div class="drop">
													<a href='list.php?typeid=18'>诺莱斯克招聘 Recruit</a>
													<a href='list.php?typeid=36'>联系我们 Contact</a>
											</div>
				</li>-->
							 <!--<li >
					<a href="list.php?typeid=19" title="城市合伙人">
						<em>City partner</em>
						<span>城市合伙人</span>
					</a>
						<div class="drop">
											</div>
				</li>-->
						
		</ul>
	</div>
</div>
<!-- 网站公共头部区域 END -->
<script type="text/javascript">
$(function(){
	$('.p_nav li').hover(function(){
		$(this).find(".drop").stop().slideDown();
	},function(){
		$(this).find(".drop").stop().slideUp();
	})
})
</script> 
                     <!-- 大图 -->
<div class="pg-minBn" style="width: 100%;height: 634px;background: url(images/pg-jm-zc-bn.jpg) top center no-repeat;">
	<div class="wrap">
		<div class="pos" style="color: #fff;">您的位置： 首页 >  招商加盟  >  加盟支持 </div>
	</div>
</div>
<!-- 大图 END -->

<!-- 12招商加盟-加盟支持 -->
<div class="pg-jm-zc">
	<div class="jmZcItmBz">
		<div class="wrap">
			<div class="b_tit">
				<h3><span>8大支持</span>提供系统保障</h3>
				<p>助您快速起步，护航高速发展，形成可持续优势</p>
			</div>
			<div class="b_list">
				<ul>
					<li>
						<div class="box">
							<span>营销管家支持</span>
							<p>一对一精英帮扶，帮助您快速起步</p>
						</div>
					</li>
					<li>
						<div class="box">
							<span>区域保护支持</span>
							<p>一区一代，让您独享区域红利</p>
						</div>
					</li>
					<li>
						<div class="box">
							<span>主动营销支持</span>
							<p>免费营销指导，直达终端店面</p>
						</div>
					</li>
					<li>
						<div class="box">
							<span>培训孵化支持</span>
							<p>定期培训，全面打造属于您的虎狼之师</p>
						</div>
					</li>

					<li>
						<div class="box">
							<span>店面装修支持</span>
							<p>展厅设计、上样、施工</p>
						</div>
					</li>
					<li>
						<div class="box">
							<span>终端物料支持</span>
							<p>全套店面物料设计，<br/>涵盖从开业到日常运营所需</p>
						</div>
					</li>
					<li>
						<div class="box">
							<span>品牌活动支持</span>
							<p>全年活动不断档，<br/>为您引流增销，炒热市场</p>
						</div>
					</li>
					<li>
						<div class="box">
							<span>广告宣传支持</span>
							<p>开业广告免费设计，全网广告持续造势</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="jmZcItmJq">
		<div class="wrap">
			<div class="j_tit">
				<h3><strong>超级补贴</strong>  护航新商崛起</h3>
				<p>诺莱斯克开启年度新商补贴计划<Br/>真金白银，涵盖从装修到运营全流程</p>
			</div>
			<div class="j_list">
				<div class="itm">
					<span>店面装修补助支持</span>
					<p>根据店面不同面积与投入确定额度，提供装修补助，让您轻松开店</p>
				</div>
				<div class="itm">
					<span>高额销售返利支持</span>
					<p>根据市场级别与提货总额返利，品牌直接让利经销商，助力市场快速开拓</p>
				</div>
			</div>
		</div>
	</div>
	<div class="jmZcItmForm">
		<div class="itmLc">
			<div class="wrap">
				<img src="images/jmZcItmForm-lc.jpg" alt="">
			</div>
		</div>
		<div class="itmForm">
			<div class="wrap">
				<div class="infoBox p_left">
					<div class="box">
						<div class="tit">
							<h3>携手rosemerk诺莱斯克</h3>
							<p>让意大利专业涂料及服务触手可及</p>
							<span class="line"></span>
						</div>
						<div class="tel">
							<p>rosemerk诺莱斯克品牌招商电话</p>
							<span>400-8788085</span>
							<span>0731-85010686</span>
						</div>
					</div>	
				</div>
				<div class="fmBox p_right">
					<div class="box">
						<h3 class="tit">预约加盟</h3>
						<form action="plugins/gbook.add.php" method="post">
							<div class="row">
								<span>姓名：</span>
								<input type="text" name="guestname" class="ipt_name" placeholder="请输入您的真实姓名" />
							</div>
							<div class="row">
								<span>电话：</span>
								<input type="text" name="phone" class="ipt_phone" placeholder="请输入您的联系电话" />
							</div>
							<div class="row">
								<span>地区：</span>
								<input type="text" name="qq" class="ipt_ads" placeholder="请输入您的详细地址" />
							</div>
							<div class="row">
								<span>备注：</span>
								<textarea name="content"></textarea>
							</div>
							<div class="row">
								<input type="submit" class="ipt_btn" name="提交">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="jmZcItmBn">
		<div class="wrap" style="text-align: center;overflow: hidden;">
			<h2 style="font-size: 34px;color: #fff;line-height: 80px;font-weight: bold;margin-top: 100px;">选择比努力更重要</h2>
			<h3 style="font-size: 30px;color: #fdd772;line-height: 80px;font-weight: bold;">大树底下好乘凉</h3>
			<p style="font-size: 18px;color: #fff;line-height: 32px;margin-top: 100px;">无限商机，就看诺莱斯克<br/>
选择大于努力，与其在困难重重的生意上苦苦争扎<br/>
不如把握机遇，顺势而为</p>
		</div>
	</div>
	<div class="jmZcItmPic">
		<div class="l_tit">
			<div class="wrap">
				<h3>诺莱斯克的力量<span>rosemerk Of power</span></h3>
				<p>累计输出艺术涂料专业施工人员5千余名</p>
			</div>
		</div>
		<div class="l_con">
			<div class="jmZcPic1">
				<div class="hd">
					<a class="next"></a>
					<a class="prev"></a>
				</div>
				<div class="bd">
					<ul class="picList">
					    													<li>
								<img src="ueditor/php/upload/image/20200915/1600136628119813.jpg">
							</li>
																									<li>
								<img src="ueditor/php/upload/image/20200915/1600136564883872.jpg">
							</li>
																									<li>
								<img src="ueditor/php/upload/image/20200909/1599613719561435.jpg">
							</li>
																									<li>
								<img src="ueditor/php/upload/image/20200909/1599613719554206.jpg">
							</li>
																									<li>
								<img src="ueditor/php/upload/image/20200909/1599613719408844.jpg">
							</li>
																									<li>
								<img src="ueditor/php/upload/image/20200909/1599621691288743.jpg">
							</li>
																									<li>
								<img src="ueditor/php/upload/image/20200909/1599621703100659.jpg">
							</li>
																									<li>
								<img src="ueditor/php/upload/image/20200909/1599621714134267.jpg">
							</li>
																																																																																																					</ul>
				</div>
			</div>
			<div class="jmZcPic2">
				<div class="hd">
					<a class="next"></a>
					<a class="prev"></a>
				</div>
				<div class="bd">
					<ul class="picList">
																																																																																																																			<li>
								<img src="ueditor/php/upload/image/20200909/1599621726192222.jpg">
							</li>
																									<li>
								<img src="ueditor/php/upload/image/20200909/1599621766430834.jpg">
							</li>
																									<li>
								<img src="ueditor/php/upload/image/20200909/1599621800123681.jpg">
							</li>
																									<li>
								<img src="ueditor/php/upload/image/20200909/1599621800612342.jpg">
							</li>
																									<li>
								<img src="ueditor/php/upload/image/20200909/1599621800105427.jpg">
							</li>
																									<li>
								<img src="ueditor/php/upload/image/20200909/1599621800428983.jpg">
							</li>
																									<li>
								<img src="ueditor/php/upload/image/20200909/1599621800129112.jpg">
							</li>
																	</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function(){
	$('.jmZcItmForm form .ipt_btn').click(function(){
		var ipt_name = $('.jmZcItmForm input.ipt_name').val();
		var ipt_phone = $('.jmZcItmForm input.ipt_phone').val();
		var ipt_ads = $('.jmZcItmForm input.ipt_ads').val();

		if (ipt_name == '') {
			alert('请输入您的姓名');
			return false;
		}

		if(!(/^1{1}[3456789]{1}\d{9}$/.test(ipt_phone))){
			alert('请输入正确的手机号码');
			return false;
		}

		if (ipt_ads == '') {
			alert('请输入您的详细地址');
			return false;
		}
	})

	$(".jmZcPic1").slide({mainCell:".bd ul",autoPlay:true,effect:"leftMarquee",vis:4,interTime:8});
	$(".jmZcPic2").slide({mainCell:".bd ul",autoPlay:true,effect:"leftMarquee",vis:4,interTime:14});
})
</script>
<!-- 12招商加盟-加盟支持 END -->
    
  <!-- 网站底部 -->
<div class="ftItmCate">
	<div class="wrap">
		<div class="boxs">
			<dl style="width:440px">
				<dt>Home</dt>
				<dd >
					<a href="guanindex.html" title="网站首页">网站首页</a>
				</dd>
			</dl>
			 
								<!--<dl>
						<dt>About Us</dt>
						<dd>
						    <a href='list.php?typeid=1'>诺莱斯克中国</a>
															<a href='list.php?typeid=2'>品牌</a>
															<a href='list.php?typeid=3'>形象</a>
															<a href='list.php?typeid=4'>品质</a>
													</dd>
					</dl>-->
			    
								<dl style="width:440px">
						<dt>Product display</dt>
						<dd>
						    <a href='productDisplay.html'>产品展示</a>
															<!--<a href='list.php?typeid=20'>经典案例</a>
															<a href='list.php?typeid=34'>产品展示</a>-->
													</dd>
					</dl>
			    
								<!--<dl>
						<dt>Design</dt>
						<dd>
						    <a href='list.php?typeid=6'>设计灵感</a>
															<a href='list.php?typeid=7'>色彩之声</a>
															<a href='list.php?typeid=8'>色彩体系</a>
													</dd>
					</dl>-->
			    
								<dl style="width:440px">
						<dt>Join In</dt>
						<dd>
						    <a href='joinIn.html'>招商加盟</a>
															<!--<a href='list.php?typeid=10'>行业趋势</a>
															<a href='list.php?typeid=11'>品牌优势</a>
															<a href='list.php?typeid=12'>加盟支持</a>-->
													</dd>
					</dl>
			    
								<!--<dl>
						<dt>News</dt>
						<dd>
						    <a href='list.php?typeid=13'>新闻中心</a>
															<a href='list.php?typeid=14'>品牌资讯</a>
															<a href='list.php?typeid=15'>艺术风向</a>
															<a href='list.php?typeid=16'>涂装工艺</a>
													</dd>
					</dl>
			    
								<dl>
						<dt>Join</dt>
						<dd>
						    <a href='list.php?typeid=17'>加入诺莱斯克</a>
															<a href='list.php?typeid=18'>诺莱斯克招聘</a>
															<a href='list.php?typeid=36'>联系我们</a>
													</dd>
					</dl>
			    
								<dl>
						<dt>City partner</dt>
						<dd>
						    <a href='list.php?typeid=19'>城市合伙人</a>
													</dd>
					</dl>-->
			    
						
		</div>
	</div>
</div>
<div class="ftItmInfo">
	<div class="wrap">
		<div class="itmTop">
			<div class="p_left">
				<a class="logo" href="">
					<img src="images/fLogo.png" alt="">
				</a>
				<div class="des">
					<p>广东诺莱斯克涂料科技有限公司     湖南艾美雅装饰材料有限公司</p>
					<p>地址：广东省广州市南沙区丰泽东路</p>
					<p>长沙营销中心：环保科技园长沙总部基地</p>
					<p>全国服务热线：400-8788085   0731-85010686</p>
					<p>官方网址： www.rosemerk.com</p>
				</div>
			</div>
			<div class="p_right">
				<div class="ewm">
					<img src="images/gzh_ewm.jpg" alt="">
					<span>诺莱斯克公众号</span>
				</div>
			</div>
		</div>
		<div class="itmCopyRight">
			<p>版权所有©湖南艾美雅装饰材料有限公司　 <a href="http://beian.miit.gov.cn/" target="_blank" title="">湘ICP备19009374号-1</a>&nbsp;&nbsp;&nbsp;&nbsp;技术支持：<a href="http://www.csqswl.com" target="_blank">诠释网络</a></p>
		</div>
	</div>
</div>
<!-- 网站底部 END -->

<!-- 预约加盟 -->
<div class="p_yy">
	<div class="y_tit">
		<span>预约加盟</span>
		<em>></em>
	</div>
	<div class="y_con">
		<div class="boxs">
			<a class="close">X</a>
			<form action="plugins/gbook.add.php" method="post">
				<div class="cols" style="width: 20%;">
					<span>姓名</span>
					<input type="text" name="guestname" class="ipt_name" placeholder="请输入您的姓名" />
				</div>
				<div class="cols" style="width: 20%;">
					<span>手机号码</span>
					<input type="text" name="phone" class="ipt_phone" placeholder="请输入您的手机号码" />
				</div>
				<div class="cols" style="width: 32%;">
					<span>所在地区</span>
					<input type="text" name="qq" class="ipt_ads" placeholder="请输入您的详细地址" />
				</div>
				<div class="cols" style="width: 20%;">
					<span></span>
					<input type="submit" name="" class="ipt_btn" value="点击预约加盟" />
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function(){
	$('.p_yy .y_tit em').click(function(){
		$('.p_yy .y_tit').toggle();
		$('.p_yy .y_con').toggle();
	})
	$('.p_yy .y_con .boxs .close').click(function(){
		$('.p_yy .y_con').toggle();
		$('.p_yy .y_tit').toggle();
	})

	$('.p_yy form .ipt_btn').click(function(){
		var ipt_name = $('.p_yy input.ipt_name').val();
		var ipt_phone = $('.p_yy input.ipt_phone').val();
		var ipt_ads = $('.p_yy input.ipt_ads').val();

		if (ipt_name == '') {
			alert('请输入您的姓名');
			return false;
		}
		
		if (!(/^[\u4e00-\u9fa5]{2,4}$/.test(ipt_name))) {
			alert('姓名请输入2~4个汉字');
			return false;
		}

		if(!(/^1{1}[3456789]{1}\d{9}$/.test(ipt_phone))){
			alert('请输入正确的手机号码');
			return false;
		}

		if (ipt_ads == '') {
			alert('请输入您的详细地址');
			return false;
		}
	})
})
</script>
<!-- 预约加盟 END -->

<!-- 留言 -->
<div class="p_msg">
	<div class="boxs">
		<a href="javascript:;" class="btn_msg" title="留言弹出">
			<img src="images/p_msg_icon01.png" alt="">
			<span>留言</span>
		</a>
		<a href="javascript:;" class="btn_top" title="返回顶部">
			<img src="images/p_msg_icon02.png" alt="">
		</a>
	</div>
</div>
<div class="p_msg_con">
	<div class="boxs">
		<form action="plugins/gbook.add.php" method="post">
			<h3>预约加盟</h3>
			<div class="ipt_con">
				<div class="row">
					<span>姓名：</span>
					<input type="text" name="guestname" class="ipt_name" placeholder="请输入您的真实姓名" />
				</div>
				<div class="row">
					<span>电话：</span>
					<input type="text" name="phone" class="ipt_phone" placeholder="请输入您的联系电话" />
				</div>
				<div class="row">
					<span>地址：</span>
					<input type="text" name="qq" class="ipt_ads" placeholder="请输入您的详细地址" />
				</div>
				<div class="row">
					<span>备注：</span>
					<textarea name="content"></textarea>
				</div>
				<div class="row">
					<input type="submit" name="" class="ipt_btn" value="提交" />
				</div>
			</div>
		</form>
		<a href="javascript:;" class="close" title="关闭弹出框">
			<img src="images/p_msg_con_close.png" alt="">
		</a>	
	</div>
</div>
<script type="text/javascript">
$(function(){
	$('.p_msg a.btn_top').click(function(){
		$('html,body').animate({
			scrollTop:0
		}, 600)
	})

	$('.p_msg a.btn_msg').click(function(){
		$('.p_msg_con').toggle();
	});
	$('.p_msg_con .close').click(function(){
		$('.p_msg_con').toggle();
	});

	$('.p_msg_con form .ipt_btn').click(function(){
		var ipt_name = $('.p_msg_con input.ipt_name').val();
		var ipt_phone = $('.p_msg_con input.ipt_phone').val();
		var ipt_ads = $('.p_msg_con input.ipt_ads').val();

		if (ipt_name == '') {
			alert('请输入您的姓名');
			return false;
		}
		
		

		if(!(/^1{1}[3456789]{1}\d{9}$/.test(ipt_phone))){
			alert('请输入正确的手机号码');
			return false;
		}

		if (ipt_ads == '') {
			alert('请输入您的详细地址');
			return false;
		}
	})
})
</script>
<!-- 留言 END -->
</body>
</html>

